/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
@media (min-width: 992px) {

#mainNav > ul {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#mainNav > ul > li {
    white-space: nowrap;
}
}

#carousel-home .cover{
    background-position: 50% 80%;
}

.opacity-mask {
    opacity: 70%;
}

.jarallax-img {
    object-fit:fill !important;
    /* width: 100% !important; */
    height: 100% !important;
    object-position: 50% 90% !important;
}

/* @keyframes kenburns {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.00);
    }
}
 */
